<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Restaurant-Project</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body id="page-top">
    <nav th:replace="~{/fragment/navbar :: navbarFragment}"></nav>

    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">마이페이지</h1>
        </div>
    </header>

    <div class="container px-4 mt-5">
        <div class="row">
            <div class="card-group mb-5">
                <div class="col-sm-3 card">
                    <div class="card-body">
                        <h5 th:text="${nickname} + '님'"></h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <b>예약 내역</b><br>
                        <div class="mt-2"><a th:text="${reservationDtoPage.totalElements} + ' 개'"></a></div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <b>작성한 리뷰</b><br>
                        <div class="mt-2"><a th:text="${reviewCount} + ' 개'"></a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row gx-4 justify-content-center mt-2 mb-5">
            <div class="container-fluid px-4 mb-5">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" data-toggle="page" href="/user/mypage/reservation">예약 내역</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/mypage/past-reservation">과거 예약 내역</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/mypage/review">작성한 리뷰</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="card-body">
                        <table class="table" >
                            <thead>
                            <tr>
                                <th scope="col">매장명</th>
                                <th scope="col">인원수</th>
                                <th scope="col">예약날짜</th>
                                <th scope="col">예약시간</th>
                                <th scope="col">요구사항</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <form id="form" method="post" action="">
                                <input type="hidden" name="_method" value="delete"/>
                                <tr th:each="reservation : ${reservationDtoPage}">
                                    <td th:text="${reservation.restaurantName}"></td>
                                    <td th:text="${reservation.personCount}"></td>
                                    <td th:text="${reservation.reservationDate}"></td>
                                    <td th:text="${reservation.reservationTime}"></td>
                                    <td th:text="${reservation.demand}"></td>
                                    <td>
                                        <div th:if="${reservation.cancel == false}">
                                            <button class="my-reservation-btn" id="modify" type="button" th:onclick="|location.href='@{/reservation/modify/{reservationId}(reservationId = ${reservation.id})}'|">수정하기</button>
                                            <button class="my-reservation-btn" type="submit" th:onclick="deleteConfirm([[${reservation.id}]])" id="delete">예약취소</button>
                                        </div>
                                        <div class="text-muted" th:if="${reservation.cancel == true}">
                                            예약 취소됨
                                        </div>
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>

                        <div class="datatable-bottom" th:if="${reservationDtoPage.totalPages} != 0">
                            <nav class="datatable-pagination">
                                <ul class="datatable-pagination-list justify-content-center">
                                    <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                        <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                                    </li>
                                    <li class="datatable-pagination-list-item datatable-active" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                        <a data-page="1" class="datatable-pagination-list-item-link"
                                           th:if="${page != nowPage}" th:href="@{/user/mypage/reservation(page=${page-1})}" th:text="${page}"></a>
                                        <a data-page="1" class="datatable-pagination-list-item-link"
                                           th:if="${page == nowPage}" th:text="${page}">1</a>
                                    </li>
                                    <li class="datatable-pagination-list-item">
                                        <a data-page="2" class="datatable-pagination-list-item-link">›</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragment/footer :: footerFragment}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        function deleteConfirm(reservationId) {
            if(confirm("예약 취소하시겠습니까?")){

                var form = document.getElementById("form");
                form.setAttribute("action", "/reservation/delete/" + reservationId);
                form.submit();

            } else {
                return false;
            }
        }
    </script>

    </body>
</html>

