<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Restaurant-Project</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body id="page-top">
<nav th:replace="~{/fragment/navbar :: navbarFragment}"></nav>
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder" th:text="${restaurantDto?.id} ? '매장 수정(Admin)' : '매장 등록(Admin)'"></h1>
    </div>
</header>
<!-- About section-->
    <section>
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div id="layoutSidenav_content px-4">
                    <div class="container-fluid px-4">
                        <form id="form" action="/admin/restaurant/register" method="post" th:object="${restaurantDto}">
                            <h2 class="mb-3" th:text="${restaurantDto?.id} ? '매장 수정' : '매장 등록'"></h2>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <label class="mb-2" for="restaurantName">매장 이름</label>
                                        <input class="form-control" id="restaurantName" th:field="*{restaurantName}" type="text">
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"></span></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="mb-2" for="address">주소</label>
                                        <input class="form-control" id="address" th:field="*{address}" type="text">
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="mb-2" for="phoneNumber">전화 번호</label>
                                        <input class="form-control"  id="phoneNumber" th:field="*{phoneNumber}" type="tel">
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="mb-2" for="time">영업시간</label>
                                        <div class="input-group" id="time">
                                            <input class="form-control" type="time" id="startTime" th:field="*{startTime}">
                                            <span><h3>&nbsp;&nbsp;~&nbsp;&nbsp;</h3></span>
                                            <input class="form-control" type="time" id="endTime" th:field="*{endTime}">
                                        </div>
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span></div>
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="mb-2" for="limitedPersonNumber">좌석 규모</label>
                                        <input class="form-control"  id="limitedPersonNumber" type="number" th:field="*{limitedPersonNumber}">
                                        <div class="mt-1"><span class="my-error" th:if="${#fields.hasErrors('limitedPersonNumber')}" th:errors="*{limitedPersonNumber}"></span></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="mb-2" for="input-group">매장 서비스</label>
                                        <div class="input-group" id="input-group">
                                            <input class="me-2" type="checkbox" id="packaging"  th:field="*{packaging}"><label class="me-3" for="packaging">포장</label>
                                            <input class="me-2" type="checkbox"  id="delivery"  th:field="*{delivery}"><label class="me-3" for="delivery">배달</label>
                                            <input class="me-2" type="checkbox" id="parking" th:field="*{parking}"><label class="me-3" for="parking">주차가능</label>
                                        </div>

                                    </div>
                                    <div class="mb-4">
                                        <label class="mb-2" for="information">매장 정보</label>
                                        <textarea class="form-control"  id="information" rows="5" th:field="*{information}"></textarea>
                                    </div>

                                    <div class="my-sm-3 text-end">
                                        <button class="btn btn-primary" th:if="!${restaurantDto?.id}" type="submit" id="insert">작성 완료</button>
                                        <button class="btn btn-primary" th:if="${restaurantDto?.id}" type="button" id="modify">수정 완료</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{/fragment/footer :: footerFragment}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    <script th:inline="javascript">
        $("#modify").click(function(){
            $("#form").append("<input type='hidden' name='_method' value='put' />");
            $("#form").attr("action", "/admin/restaurant/modify/" + [[ ${restaurantDto?.id} ]]).submit();
        });




    </script>
</body>
</html>
