<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Restaurant-Project</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <nav th:replace="~{/fragment/navbar :: navbarFragment}"></nav>
    <header class="header-background text-white">
        <div class="container px-4 text-center">
            <h1 class="header-item fw-bolder">메뉴 소개<span sec:authorize="hasRole('ROLE_ADMIN')">(Admin)</span></h1>
            <a class="header-item btn btn-lg btn-light mt-4" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/menu/register">메뉴 등록</a>
        </div>
    </header>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="menu : ${menuItemList}">
                    <div class="card h-100">
                        <div th:each="file : ${menu.fileList}">
                            <a th:if="${file.filePath}" th:href="@{/menu/detail(id=${menu.id})}">
                                <img class="card-img-top" th:src="${file.filePath}" alt="..." />
                            </a>
                        </div>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder" th:text="${menu.food}">음식</h5>
                                <a th:text="${menu.price} + '원'"></a>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/menu/detail(id=${menu.id})}">상세보기</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{/fragment/footer :: footerFragment}"></footer>
</body>
</html>